h1, h2, h3, h4{

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1 {
	font-size: 275%;
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
	font-size:120%;
}

body {
	padding: 80px 60px 80px 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.subtitle {
	text-align: center;
	font-size: 120%;
	color: rgb(128,128,128);
	padding-bottom: 60px;
}

.general-text {
	font-size: 120%;
	color: rgb(128,128,128);
}

.general-center-text {
	text-align: center;
	font-size: 120%;
	color: rgb(128,128,128);
}

.portfolio-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-thumbnail {
	text-align: center;
}

.cols{
	position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
}

.blank{
	padding-top: 60px;
	width: auto;
}

.image-title{
	text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.title{
	padding-bottom: 10px;
}

.intro{
	padding-bottom: 70px; color: rgb(230, 126, 34);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}